* {
  box-sizing: border-box;
  color: #404040;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}
strong {
  font-weight: 800;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  width: fit-content;
  margin-top: 0.6em;
  font-weight: 500;
  font-size: 1rem;
  background: rgb(206, 238, 206);
  padding: 0.6em;
  border-radius: 0.6rem;
}
li:nth-child(2n) {
  background: none;
}
a {
  text-decoration: underline;
  color: #404040;
}
.container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
}
.text-input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: 3px solid green;
  border-radius: 0.5rem;
  background-color: rgb(206, 238, 206);
  font-weight: 500;
}
/* BTN */
.container-btn {
  display: flex;
  width: 100%;
  gap: 0.75em;
}
.btn {
  border: 0;
  padding: 0.7em 1.5em;
  font-weight: 800;
  letter-spacing: 0.05em;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  letter-spacing: 0.1em;
}
.text-save-btn {
  background: green;
  color: white;
}
.text-savetab-btn {
  background: green;
  color: white;
}
.text-delete-btn {
  background: rgb(201, 67, 67);
  color: white;
}
.btn:hover {
  transform: translateY(-0.15em);
  -webkit-box-shadow: inset 0px 0px 13px 0px rgba(28, 28, 28, 1);
  -moz-box-shadow: inset 0px 0px 13px 0px rgba(28, 28, 28, 1);
  box-shadow: inset 0px 0px 13px 0px rgba(28, 28, 28, 1);
}
